{% if value != blank%}
  <div>
    <div class="
      group-block-content
      layout-panel-flex
      layout-panel-flex--column
       mobile-column
    " style="--flex-direction: column; --flex-wrap: nowrap; --gap: 12px;
        --horizontal-alignment: flex-start; --vertical-alignment: center;
        --vertical-alignment-mobile: center;">
        <div class="spacing-style text-block custom custom-typography custom-font-size custom-color" style="
            --padding-block-start: 0px; --padding-block-end:0px; 
            --padding-inline-start:0px; --padding-inline-end:0px; 
            --color: var(--color-foreground); --font-size: 0.875rem; 
            --font-weight: var(--font-subheading--weight);
            --font-family: var(--font-subheading--family);
            --text-transform: uppercase;
            --text-wrap: pretty;
            --line-height: var(--line-height--body-normal);
            --letter-spacing: var(--letter-spacing--body-normal);
            --width: fit-content;
            --max-width: var(--max-width--body-normal);
        ">
            <p>{{ title }}</p>
        </div>
        <rte-formatter class="text-block rte">
            <p>
                {% if url != blank %}
                    <a href="{{ url }}">{{value}}</a>
                {% else %}
                    {{ value }}
                {% endif %}
            </p>
        </rte-formatter>
    </div>

  </div>
{% endif %}

