{%- doc -%}
  Renders block content for all blocks that extend the group block.

  @param {string} children - The DOM content of the group block.
  @param {object} settings - The settings of the group block.
  @param {string} shopify_attributes - String with Shopify attributes for the editor.

  @example
  {% render 'right-menu', children: children, settings: block.settings, shopify_attributes: block.shopify_attributes %}
{%- enddoc -%}

<div class="right-menu hidden--mobile">
    <div class="flex right-menu-row">
        {{ children }}
    </div>
</div>

{% stylesheet %}
    .right-menu-row .button-secondary {
        --color-secondary-button-text: var(--color-foreground);
        --color-secondary-button-border: var(--color-foreground);
        font-size: 0.75rem;
    }
{% endstylesheet %}