{%- doc -%}
  Renders block content for all blocks that extend the group block.
  @param {object} images - The DOM content of the group block.
{%- enddoc -%}

<div class="article-images-wrapper" {{ block.shopify_attributes }}>
  <div class="article-images-grid">
    {% for image in images limit: 3 %}
      {% liquid
        assign width = '100%'
        assign media_width_desktop = '100vw'
        assign media_width_mobile = '100vw'
        assign sizes = 'auto, (min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
        assign widths = '240, 352, 832, 1200, 1600, 1920, 2560'
      %}

      <div>
          <image-block
            style="--border-radius: 0px; --ratio:2 / 3; --image-height: auto;"
          >
            {{
              image
              | image_url: width: 2560
              | image_tag: width: width, widths: widths, sizes: sizes, loading: 'lazy', alt: article.title
            }}
          </image-block>
          {% comment %} {% content_for 'block', type: '_image', id: 'image', loading: 'lazy', custom_image: image %} {% endcomment %}
      </div>
    {% endfor %}
  </div>
</div>

{% stylesheet %}
    .article-images-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: .5rem;
      width: 100%;
      row-gap: 1px;
      max-width: 1440px;
      margin: 0 auto;

      @media (max-width: 749px) {
        grid-template-columns: 1fr;

        image-block {
          --ratio: 1 !important;
        }
      }
    }
    .article-images-wrapper {

      @media (max-width: 749px) {
        margin-inline: calc(-1 * var(--page-margin)) !important;
      }
    }
{% endstylesheet %}

{% schema %}
{
  "name": "Article Images",
  "tag": null,
  "class": "article-images",
  "presets": [
    {
      "name": "Article Images"
    }
  ]
}
{% endschema %}