
{%- doc -%}
  Renders block content for all blocks that extend the group block.
  @param {string} [content] - Custom content
{%- enddoc -%}

<div class="blog-post-content rte">
  <rte-formatter>
    {% if content != blank %}
      {{ content }}
    {% else %}
      {{ article.content }}
    {% endif %}
  </rte-formatter>
</div>

{% stylesheet %}
  .blog-post-content {
    max-width: var(--normal-content-width);
    margin: 0 auto;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.content",
  "settings": [],
  "presets": [
    {
      "name": "t:names.content"
    }
  ]
}
{% endschema %}
