

{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

{% render 'group', children: children, settings: block.settings, shopify_attributes: block.shopify_attributes %}
<!--@list/split-->

{% schema %}
{
  "name": "Multicolumn Item",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Multicolumn Item",
      "blocks": {
        "group": {
            "type": "group",
            "name": "Item Link",
            "settings": {
                "horizontal_alignment_flex_direction_column": "center",
                "width": "fill",
                "width_mobile": "fill",
                "inherit_color_scheme": false,
                "color_scheme": "scheme-6",
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "padding-block-start": 0,
                "padding-block-end": 0
            },
            "blocks": {
                "image": {
                    "type": "image",
                    "settings": {
                        "image": "",
                        "image_ratio": "square"
                    }
                },
                "group": {
                "type": "group",
                "settings": {
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "width": "fill",
                    "inherit_color_scheme": false
                },
                "blocks": {
                    "heading": {
                    "type": "text",
                    "name": "t:names.heading",
                    "settings": {
                        "text": "<h2>Our signature product.</h2>",
                        "type_preset": "h3"
                    }
                    },
                    "text": {
                    "type": "text",
                    "settings": {
                        "text": "<p>Made with care and unconditionally loved by our customers, this signature bestseller exceeds all expectations.</p>",
                        "max_width": "narrow"
                    }
                    },
                    "button": {
                    "type": "button",
                    "settings": {
                        "label": "Shop now",
                        "link": "shopify://collections/all"
                    }
                    }
                },
                "block_order": ["heading", "text", "button"]
                }
            },
            "block_order": ["image", "group"]
        }
      },
      "block_order": ["group"]
    }
  ]
}
{% endschema %}