{% capture children %}
    <div>
        {% content_for 'block', type: '_header-menu', id: 'right-menu' %}
    </div>
    <div>
        {% content_for 'blocks' %}
    </div>
{% endcapture %}

{% render 'right-menu', children: children, settings: block.settings, shopify_attributes: block.shopify_attributes %}

{% schema %}
    {
        "name": "Right Menu",
        "tag": null,
        "blocks": [
            {
                "type": "button"
            }
        ]
    }
{% endschema %}