<div
  class="payment-icons__wrapper"
  {{ block.shopify_attributes }}
>
    <ul class="list-unstyled flex list-payment" style="--icon-size: {{ block.settings.width }}px;" role="list">
        {% assign icon_block_class = 'icon-block__media icon-block-' | append: block.id %}

        <li class="list-payment__item">
          <img src=" {{ 'paypal-icon.png' | asset_img_url: 'master' }}" alt="Paypal in 4" loading="lazy">
        </li>
        {%- for type in shop.enabled_payment_types -%}
            <li class="list-payment__item">
                {{ type | payment_type_svg_tag: class: icon_block_class }}
            </li>
        {%- endfor -%}
    </ul>
</div>

{% stylesheet %}
  .list-payment {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-xs);

    @media screen and (min-width: 750px) {
      flex-wrap: nowrap;
      justify-content: flex-end;
    }

    svg, img {
        width: var(--icon-size);
        display: block;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Payment Icons",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "width",
      "label": "t:settings.width",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "Payment Icons",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}