:root {
  --letter-spacing--display-loose: 1.4px !important;
  --letter-spacing--heading-loose: 1.4px !important;
  --letter-spacing--body-loose: .2px !important;
  --opacity-subdued-text: 1 !important;
  --wide-page-width: 100% !important;
  --font-body--family: 'Cormorant Garamond', serif !important;
  --font-body--weight: 500 !important;
}

.link {
  letter-spacing: .2px;
}

.right-menu a.size-style {
  --button-padding-inline: 16px;
  --button-padding-block: 12px;
}

a.link {
  position: relative;
}
a.link:after {
  content: "";
  width: 100%;
  height: 0.05rem;
  background: var(--color-foreground);
  display: block;
  position: absolute;
  bottom: -0.2rem;
}


.header .cart-bubble__text-count {
  color: rgb(255,255,255);
}

.header-actions__cart-icon .cart-bubble__text, .cart-drawer__heading .cart-bubble__text {
  font-family: var(--font-heading--family) !important;
  font-weight: var(--font-heading--weight) !important;
}

.menu-list__link {
  letter-spacing: 1px;
}

.mega-menu__link {
  letter-spacing: 1px;
  font-size: var(--font-size--2xs) !important;
}

.mega-menu__link--parent {
  font-weight: 600 !important;
}

.mega-menu__link--parent:after {
  width: 100%;
  height: .03rem;
  background: var(--menu-parent-font-color);
  content: '';
  position: absolute;
  bottom: 0;
}

.mega-menu__link--parent {
  position: relative;
  width: 100%;
  margin-bottom: var(--margin-lg);
  padding-bottom: var(--margin-2xs) !important;
}

.menu-list__submenu {
  --menu-parent-active-font-color: var(--color-primary-hover) !important;
}

.mega-menu__link:not(.mega-menu__link--parent):hover, .menu__item:hover {
  text-decoration: underline;
}

.menu-list__link {
  position: relative;
}

.menu-list__link::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--padding-2xs));
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: .05rem;
  background-color: transparent;
  transition: width 0.4s ease;
}

.menu-list__link:hover::after,
.menu-list__link.active::after {
  width: 100%;
  background-color: var(--menu-top-level-font-color); /* example: accent color */
}

.predictive-search-results__title {
  font-family: var(--font-accent--family);
}

.resource-card__title {
  font-family: var(--font-accent--family) !important;
}

.resource-card__content .price {
  font-family: var(--font-accent--family);
}

.size-style[style*="--size-aspect-ratio"] {
  aspect-ratio: var(--size-aspect-ratio);
}

.header-actions__cart-icon .cart-bubble {
  --cart-bubble-size: 16px;
  --cart-bubble-top: 5.5px;
  --cart-bubble-right: 5.5px;
  bottom: var(--cart-bubble-top);
  top: unset !important;
}

.header-actions__cart-icon.header-actions__cart-icon--has-cart svg {
  mask: unset !important;
}

.cart-bubble__background {
  background-color: #B7998E !important;
}

.image-block {
  overflow: hidden;
}

.group-block .background-image-container img,.group-block-content .image-block img {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.group-block:hover .background-image-container img, .group-block-content:hover .image-block img {
  transform: scale(1.03);
}

.right-menu-row {
  gap: 0 var(--gap-xl);
  align-items: center;
}

@media (min-width: 750px) {
  .menu-list__link {
    min-height: unset !important;
  }
  .page-width-wide, .page-width-normal, .page-width-narrow, .page-width-content {
    --page-margin: 24px;
  }
}

@media (max-width: 749px) {
  :is(.multicolumn--mobile-full-width) > .resource-list__carousel {
    grid-column: 1 / -1;
  }

  .multicolumn--mobile-full-width .resource-list__carousel[style*="--mobile-card-size: 100cqw;"] slideshow-slides {
    padding-inline: 0 !important;
    scroll-padding-inline-start: 0;
  }
  .size-style[style*="--size-aspect-ratio"] {
    aspect-ratio: 1 / 1;
  }
  .resource-list__carousel slideshow-arrows .slideshow-control {
    opacity: 1;
  }
  .spacing-style[style*="--mobile-padding-block-start"] {
    padding-block: calc(var(--mobile-padding-block-start) + var(--section-top-offset, 0px)) var(--mobile-padding-block-end) !important;
  }

  .spacing-style[style*="--mobile-padding-inline-start"] {
    padding-inline: var(--mobile-padding-inline-start) var(--mobile-padding-inline-end) !important;
  }

  .spacing-style[style*="--mobile-margin-block-start"] {
    margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
  }

  .spacing-style[style*="--mobile-margin-block-start"] {
    margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
  }
  .layout-panel-flex--row:not(.mobile-column) .text-block {
    --max-width--display-tight: 0ch;
  }
}
