:root {
  --letter-spacing--display-loose: 1.4px !important;
  --letter-spacing--heading-loose: 1.4px !important;
  --letter-spacing--body-loose: .2px !important;
  --opacity-subdued-text: 1 !important;
  --wide-page-width: 100% !important;
  /* --font-body--family: 'Cormorant Garamond', serif !important;
  --font-body--weight: 500 !important; */
  --drawer-width: 20rem !important;
  --sidebar-width: 25rem;
  --badge-rectangle-padding-block: 0 !important;
  --height-buy-buttons: calc(var(--padding-md) * 2 + var(--icon-size-sm)) !important;
  --modal-max-height: fit-content !important;
  --cart-primary-font-family: var(--font-heading--family) !important;
  --cart-primary-font-style: var(--font-heading--style) !important;
  --cart-primary-font-weight: var(--font-heading--weight) !important;
  --peek-next-slide-size: 0rem !important;
  --max-width--body-normal: 110ch !important;
  --button-padding-block: 10px !important;
}

.nowrap {
  white-space: nowrap;
}

.menu-drawer__menu-item {
  padding: var(--padding-lg) 0 !important;
}

.menu-drawer__navigation {
  --menu-top-level-font-size: var(--menu-font-sm--size) !important;
  --menu-top-level-font-line-height: var(--menu-font-sm--line-height) !important;
}

.menu-drawer__back-button {
  font-family: var(--menu-parent-font-family);
  font-style: var(--menu-parent-font-style);
  font-weight: var(--menu-parent-font-weight);
}

a {
  text-decoration-thickness: .05em;
}

.uppercase {
  text-transform: uppercase !important;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

.path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: var(--color-foreground);
  animation: dash 1.4s ease-in-out infinite;
}

.spinner-icon[hidden] {
  display: none !important;
} 

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}

.h-100 {
  height: 100%;
}

.button, .button-secondary {
  font-size: var(--font-size--sm);
}

[style*="text-decoration:underline"] {
  text-decoration-thickness: .05em !important;
}

summary {
  -webkit-tap-highlight-color: transparent;
}

.link {
  letter-spacing: .2px;
  font-family: var(--font-heading--family);
  font-weight: var(--font-heading--weight);
  font-size: 0.875rem;
}

a.link {
  position: relative;
}

a.link:after {
  content: "";
  width: 100%;
  height: 0.05rem;
  background: var(--color-foreground);
  display: block;
  position: absolute;
  bottom: -0.2rem;
}

.justify-between {
  justify-content: space-between;
}

.header-actions__cart-icon .cart-bubble__text, .cart-drawer__heading .cart-bubble__text {
  font-family: var(--font-heading--family) !important;
  font-weight: var(--font-heading--weight) !important;
}

.shopify-policy__container {
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 100ch !important;
}

.menu-list__link {
  letter-spacing: 0;
}

.mega-menu__link--parent {
  font-weight: 600 !important;
}

.mega-menu__link--parent:after {
  width: 100%;
  height: .03rem;
  background: var(--menu-parent-font-color);
  content: '';
  position: absolute;
  bottom: 0;
}

.mega-menu__link--parent {
  position: relative;
  width: 100%;
  margin-bottom: var(--margin-lg);
  padding-bottom: var(--margin-2xs) !important;
}

.mega-menu__link {
  font-size: var(--menu-top-level-font-size-desktop) !important;
}

 .mega-menu__link--parent:hover {
   color: var(--color-primary-hover) !important;
 }
 .mega-menu__link--parent:hover:after {
  background: var(--color-primary-hover);
 }
 
.menu-list__submenu {
  --menu-parent-active-font-color: var(--color-primary-hover) !important;
}

.mega-menu__link:not(.mega-menu__link--parent):hover, .menu__item:hover {
  text-decoration: underline;
}

.menu-list__link {
  position: relative;
}

.menu-list__link::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--padding-2xs));
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: .05rem;
  background-color: transparent;
  transition: width 0.4s ease;
}

.menu-list__link:hover::after,
.menu-list__link.active::after {
  width: 100%;
  background-color: var(--menu-top-level-font-color); /* example: accent color */
}

.predictive-search-results__title {
  font-family: var(--font-accent--family);
}

.resource-card__title {
  font-family: var(--font-accent--family) !important;
  font-size: var(--font-size--h5);
}

.resource-card__title.paragraph {
  font-size: var(--font-size--h6);
}

.resource-card__content .price {
  font-family: var(--font-accent--family);
  font-size: var(--font-size--h6);
}

.predictive-search-results__clear {
  font-size: var(--font-size--h5);
}

.predictive-search__search-button {
  padding: var(--padding-2xs) var(--padding-sm);
  font-size: var(--font-size--h5);
}

.size-style[style*="--size-aspect-ratio"] {
  aspect-ratio: var(--size-aspect-ratio);
}

.header-actions__cart-icon .cart-bubble {
  --cart-bubble-size: 16px;
  --cart-bubble-top: 5.5px;
  --cart-bubble-right: 5.5px;
  bottom: var(--cart-bubble-top);
  top: unset !important;
}

.header-actions__cart-icon.header-actions__cart-icon--has-cart svg {
  mask: unset !important;
}


.image-block,.megamenu-card__media,.zoom-on-hover {
  overflow: hidden;
}

.group-block .background-image-container img,
.megamenu-card__media img,
.zoom-on-hover img {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s;
}

.group-block:hover .background-image-container img,
.megamenu-card:hover .megamenu-card__media img,
.group-block__link:hover ~ .group-block-content .zoom-on-hover img,
.zoom-on-hover:hover img {
  transform: scale(1.03); 
}

.checkbox {
  --checkbox-size: 16px;
  --checkbox-border-radius: 0px;
}

.card-slider-controls {
  min-height: unset !important;
  mix-blend-mode: unset !important;
}

.card-slider-controls .slideshow-controls__dots {
  margin-inline-start: 0;
  padding: var(--padding-xs);
  gap: var(--gap-2xs);
}

.card-slider-controls .slideshow-controls__dots button {
  --size: 4px;
}

.card-slider-controls .slideshow-controls__dots button:after {
  background-color: transparent;
  border: .01rem solid rgb(255 255 255 / 1.0);
  box-sizing: border-box;
}

.card-slider-controls .slideshow-controls__dots button[aria-selected=true]:after {
  background-color: rgb(255 255 255 / 1.0);
}

.facets .breadcrumbs {
  margin: 0 1rem 0 0;
  flex: 1 auto;
  white-space: nowrap;
  padding-inline-end: 1rem;
  border-right: 1px solid var(--color-border);
}

.facets__bubble {
  font-family: var(--font-heading--family) !important;
  font-weight: var(--font-heading--weight) !important;
}

.bubble {
  font-size: var(--font-size--2xs);
}

.images-loader-button {
  padding-block: var(--padding-xs) !important;
}

.images-loader-wrapper {
  margin-top: var(--margin-4xl);
}

.slideshow-control.slideshow-control--shape-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 2;
  padding: 0 var(--padding-3xs);
  background-color: var(--color-primary-button-background);
  color: var(--color-primary-button-text) !important;
  --color-primary-button-background: rgb(47 46 46 / .15);
  --icon-stroke-width: .65px;
}

slideshow-arrows {
  mix-blend-mode: unset;
}

button.slideshow-control.button-unstyled--transparent {
  color: rgb(var(--color-foreground));
  -webkit-tap-highlight-color: transparent;
}

.add-to-cart-text:not(quick-add-component .add-to-cart-text) {
  gap: var(--gap-sm) !important;
}

.variant-option__select {
  padding-block-start: var(--padding-md) !important;
  padding-block-end: var(--padding-3xs) !important;
}

.variant-option__select-wrapper label {
  position: absolute;
  top: calc(var(--padding-2xs));
  left: calc(var(--padding-lg));
  line-height: 1em;
  font-size: var(--font-size--sm);
}

.products-count-wrapper {
  font-family: var(--font-heading--family);
  font-size: var(--font-size--2xs);
  font-weight: var(--font-heading--weight);
}

.inline-slider-row > div:first-child {
  flex: 1 auto;
}

.inline-slider-row > div:last-child {
  flex: 0 auto;
}

.inline-slider-row .header-arrows .slideshow-control--previous {
  display: none;
}

/* .cart-bubble__background {
  background-color: rgb(248 246 239);
} */

/* .cart-bubble {
  color: var(--color-primary-button-background);
} */

input,textarea {
  outline: none !important;
}

.cart-items__table-row {
  --cart-item-price-width: 4rem !important;
  grid-template-columns: clamp(2.5rem, 21cqi, 7.5rem) minmax(0, 1fr) minmax(4rem, auto) !important;
}

.cart-items__media-container {
  --ratio: 74 / 112 !important;
}

.cart-items__properties {
  margin-block-start: var(--margin-3xs) !important;
}

.cart-items__details .cart-items__properties, .cart-items__details .cart-items__properties * {
  font-size: var(--cart-font-size--xs) !important;
  font-weight: normal;
}

.cart-items__title {
  letter-spacing: var(--letter-spacing--heading-loose);
}

.cart-items__nested-line .cart-items__title {
  font-size: var(--cart-font-size--xs);
}

td.cart-items__price.cart-secondary-typography {
  font-family: var(--cart-primary-font-family);
  font-style: var(--cart-primary-font-style);
  font-weight: var(--cart-primary-font-weight);
  font-size: var(--cart-font-size--sm);
}

.cart-drawer__items {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  mask-image: unset !important;
}

.cart-drawer__items::-webkit-scrollbar {
  display: none;
}

.quantity-selector input[type='number'] {
  font-weight: var(--font-heading--weight);
  font-family: var(--font-heading--family);
}

.subpage-right {
  --size-style-width: 520px !important;
}

.subpage-left {
  --size-style-width: 400px !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
}

.subpage-left .menu__item {
  text-decoration: none !important;
}

.subpage-left .menu__item {
  opacity: .8;
}

.subpage-left .menu__item:hover {
  opacity: 1;
}

.subpage-left .menu__item {
  text-decoration: none !important;
}

.subpage-left .menu__item.active-menu-link {
  position: relative;
  padding-left: var(--padding-lg);
  opacity: 1;
}

.subpage-left .menu__item.active-menu-link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: var(--padding-2xs);
  transform: translateY(-50%);
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  background: var(--color-foreground);
}

select.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.select-option {
  --options-border-radius: var(--variant-picker-button-radius);
  --options-border-width: var(--variant-picker-button-border-width);
  --variant-option-padding-inline: var(--padding-md);
}

.option__select-wrapper {
  display: flex;
  position: relative;
  border: var(--style-border-width-inputs) solid var(--color-border);
  border-radius: var(--style-border-radius-inputs);
  align-items: center;
  overflow: clip;
  transition: background-color var(--animation-speed) var(--animation-easing), border-color var(--animation-speed) var(--animation-easing);
}

.option__select-wrapper label {
  position: absolute;
  top: calc(var(--padding-2xs));
  left: calc(var(--padding-lg));
  line-height: 1em;
  font-size: var(--font-size--sm);
}

.option__select-wrapper .icon {
  position: absolute;
  right: var(--padding-md);
  top: 50%;
  transform: translateY(-50%);
  width: var(--icon-size-2xs);
  height: var(--icon-size-2xs);
  pointer-events: none;
}

.option__select {
  padding-block: var(--padding-md);
  padding-inline: var(--padding-lg) calc(var(--padding-lg) + var(--icon-size-2xs));
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 100%;
  margin: 0;
  cursor: pointer;
  padding-block-start: var(--padding-md);
  padding-block-end: var(--padding-3xs);
}

.metafield-rich_text_field > *:last-child {
  margin-block-end: 0;
}

summary .svg-wrapper {
  min-width: var(--icon-size-xs);
}

.quick-add-modal__content .images-loader-wrapper {
  display: none;
}

.product-grid-view-zoom-out--details .h4,
.product-grid-view-zoom-out--details span,
.product-grid-view-zoom-out--details s {
  font-family: var(--font-h6--family);
  font-style: var(--font-h6--style);
  font-weight: var(--font-h6--weight);
  font-size: var(--font-h6--size);
  line-height: var(--font-h6--line-height);
  letter-spacing: var(--font-h6--letter-spacing);
  text-transform: var(--font-h6--case);
}

.product-grid-view-zoom-out--details span {
  font-weight: 500;
}

.product-grid-view-zoom-out--details {
  padding-block-start: 4px;
}

.product-grid-view-zoom-out--details > span.h6,
.product-grid-view-zoom-out--details > div.h6 > product-price {
  display: inline-block;
  line-height: 0;
  margin-top: var(--margin-2xs);
}

.product-grid-view-zoom-out--details > span.h6 > *,
.product-grid-view-zoom-out--details > div.h6 > * > * {
  font-family: var(--font-h6--family);
  font-style: var(--font-h6--style);
  font-weight: var(--font-h6--weight);
  font-size: var(--font-h6--size);
  line-height: var(--font-h6--line-height);
  letter-spacing: var(--font-h6--letter-spacing);
  text-transform: var(--font-h6--case);
}

product-card:focus-within .quick-add__button,
.card-gallery:hover .quick-add__button {
  will-change: unset;
  animation: unset;
}

.menu-drawer__close-button {
  background: transparent;
  padding: var(--padding-md);
  box-shadow: none;
  border: 0;
}

.header-drawer-icon--close {
  color: var(--color-foreground);
}

media-gallery slideshow-arrows .slideshow-control {
  min-width: unset !important;
}

.complementary-card__content {
  flex-wrap: nowrap !important;
}

@media (min-width: 750px) {
  .menu-list__link {
    min-height: unset !important;
  }
  .page-width-wide, .page-width-normal, .page-width-narrow, .page-width-content {
    --page-margin: 24px;
  }
  slideshow-component.mobile-enabled {
    --cursor: pointer !important;
    pointer-events: none;
  }

  slideshow-component.mobile-enabled slideshow-slides {
    overflow: hidden !important;
  }

  slideshow-component.mobile-enabled slideshow-arrows {
    display: none;
  }

  .facets--horizontal .facets__inputs-wrapper {
    padding: var(--padding-lg) !important;
  }
  .product-form-buttons {
    gap: var(--gap-lg) !important;
  }
  .resource-list__carousel .resource-list__slide {
    --section-slide-width: calc(100% / var(--column-count)) !important;
  }
}

@media (max-width: 749px) {
  :root {
    --normal-content-width: 22rem !important;
    --sidebar-width: 20rem !important;
  }
  .h3, h3 {
    --font-h3--size: var(--font-size--sm) !important;
    --font-h4--size: var(--font-size--sm) !important;
  }
  .link {
    font-size: var(--font-size--xs);
  }
  /* Font Header sizes */
  .section-resource-list__header .text-block > *,
  .parent-group-datepicker.group-block-content > .text-block,
  .section-resource-list__content > .text-block, .section-resource-list__content > .text-block > *,
  .dropdown-block > .text-block,
  .custom-input-block .text-block {
    font-size: var(--font-size--xs) !important;
  }

  /* Font Header sizes */
  .section-resource-list__header .text-block, 
  .parent-group-datepicker.group-block-content > .text-block,
  .dropdown-block > .text-block,
  .custom-input-block .text-block {
    line-height: var(--line-height--body-tight) !important;
  }

  .product-badges {
    gap: var(--gap-2xs) !important;
    flex-wrap: nowrap;
  }

  .mobile-group-column-reverse > .group-block-content {
    flex-direction: column-reverse !important;
  }

  .mobile-section-column-reverse {
    flex-direction: column-reverse !important;
  }

  .product-badges__badge {
    /* --badge-font-size: var(--font-size--2xs) !important; */
    line-height: 1em;
    white-space: nowrap;
  }

  :is(.multicolumn--mobile-full-width) > .resource-list__carousel {
    grid-column: 1 / -1;
  }

  .multicolumn--mobile-full-width .resource-list__carousel[style*="--mobile-card-size: 100cqw;"] slideshow-slides {
    padding-inline: 0 !important;
    scroll-padding-inline-start: 0;
  }
  .size-style[style*="--size-aspect-ratio"] {
    aspect-ratio: 1 / 1;
  }
  .spacing-style[style*="--mobile-padding-block-start"] {
    padding-block: calc(var(--mobile-padding-block-start) + var(--section-top-offset, 0px)) var(--mobile-padding-block-end) !important;
  }

  .spacing-style[style*="--mobile-padding-inline-start"] {
    padding-inline: var(--mobile-padding-inline-start) var(--mobile-padding-inline-end) !important;
  }

  .spacing-style[style*="--mobile-margin-block-start"] {
    margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
  }

  .spacing-style[style*="--mobile-margin-block-start"] {
    margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
  }

  [style*="--mobile-gap"] {
    gap: var(--mobile-gap) !important;
  }

  .layout-panel-flex--row:not(.mobile-column) .text-block {
    --max-width--display-tight: 0ch;
  }
  .pills__pill {
    padding: var(--padding-3xs) var(--padding-md);
  }
  [style*="--gallery-aspect-ratio: 2 / 3;"] {
    --gallery-aspect-ratio: 187 / 282 !important;
  }
  .footer-col-1 > .mobile-column {
    --horizontal-alignment: center !important;
  }
  [style*="--mobile-font-size"],
  [style*="--mobile-font-size"] > * {
      font-size: var(--mobile-font-size) !important;
  }

  .section-resource-list__header a.link:after {
    bottom: 0 !important;
  }
}